body{
    background-color: rgb(243, 241, 241);
    color: rgb(32, 32, 32);
}
.footballCompetition{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
h1{
    text-decoration: underline;
    text-align: center;
}
h3{
    color: brown;
    text-decoration: underline;
}
.research{
    text-align: center;
}
